@import "fonts";
@import "variables";

@import "components/table.scss";
@import "components/calculator.scss";
@import "components/vip-currency";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: inherit;

  font-family: Roboto, sans-serif;
}
